# want to know why this file is needed? See here: https://stackoverflow.com/questions/24942161/does-npm-ignore-files-listed-in-gitignore#answer-24942436


/public

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
